/* fonts */
body {
    min-height: 100; 
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #e7ebf1;
}
body.dark {
    background-color: #000000ea;
    color: #ffffffd3;

}

.S{
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}
.dl{
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(171, 194, 189);
    cursor: pointer;
}
.AllNotesContainer{
    width: 80.5vw;
    margin-left: 19.2vw;
    height: 100vh;
    top: 0;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    display: none;
    z-index: 1;
}
.AllNotesContainer.dark{
    background-color: #333;
}
.CloseBtn{
    float: right;
    margin: 10px;
    margin-right: 30px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f05757; 
    cursor: pointer; 
}
.FavouriteContainer{
    width: 80.5vw;
    margin-left: 19.2vw;
    height: 100vh;
    top: 0;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    display: none;
    z-index: 1;
}
.FavouriteContainer.dark{
    background-color: #333;
}
.CloseBtn1{
    float: right;
    margin: 10px;
    margin-right: 30px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f05757; 
    cursor: pointer; 
}
.SettingsContainer{
    width: 30vw;
    margin-top: 15vh;
    margin-left: 45vw;
    height: 70vh;
    top: 0;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    display: none;
    z-index: 1;
}
.SettingsContainer.dark{
    background-color: #333;
}
.CloseBtn2{
    float: right;
    margin: 10px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f05757; 
    cursor: pointer; 
}
.AboutContainer{
    width: 50vw;
    margin-top: 15vh;
    margin-left: 30vw;
    height: 70vh;
    top: 0;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    display: none;
    z-index: 1;
}
.AboutContainer.dark{
    background-color: #333;
}
.CloseBtn3{
    float: right;
    margin: 10px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f05757; 
    cursor: pointer; 
}
.RAIContainer{
    width: 50vw;
    margin-top: 15vh;
    margin-left: 30vw;
    height: 70vh;
    top: 0;
    border: 0;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    display: none;
    z-index: 1;
}
.RAIContainer.dark{
    background-color: #333;
}
.CloseBtn4{
    float: right;
    margin: 10px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #f05757; 
    cursor: pointer; 
}
/* navigation */
nav {
position : fixed;
top : 0;
left: 0;
height: 70px;
width: 100%;
background-color: #fff;
display: flex;
align-items: center;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav.dark{   
background-color: #333;

} 

nav .logo{
    display: flex;
    align-items: center;
    
}
.logo .menu-icon{
    font-size: 24px;
    margin-right: 14px;
    margin-left: 24px;
    cursor: pointer;
    color: #000000;
}
.logo.dark .menu-icon{
    color: #ffffffd3;
}
.logo .logo-name{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}
.logo.dark .logo-name{
    color: #ffffffd3;
}
nav .logo1{
    display: flex;
    align-items: center;
    
}
.logo1 .menu-icon1{
    font-size: 24px;
    margin-right: 14px;
    margin-left: 24px;
    cursor: pointer;
    color: #000000;
}
.logo1.dark .menu-icon1{
    color: #ffffffd3;
}
.logo1 .logo-name1{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}
.logo1.dark .logo-name1{
    color: #ffffffd3;
}
.login{
    border: 0;
    font-size: 30px;
    font-weight: 550;
    margin-left: 480%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;;
    background-color: #99e0cb;
}
.login:hover{
    background-color: #000000;
    color: #99e0cb;
}
/* sidebar */
nav .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}
nav.open .sidebar{
    left: 0;
    } 
nav.dark .sidebar{
    background-color: #333;
}    
.sidebar .sidebar-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;

}

.sidebar-content .lists{
    list-style: none;
}
.nav-link:hover{
    background-color: rgb(173, 160, 160);
}
.lists .nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px;
    padding: 14px 12px;
    border-radius: 8px;
}
.overlay{
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none; 
    transition: all 0.4s ease;
    background-color: rgba(0, 0, 0, 0.2);
}
nav.open~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

/* enable features */
nav2 {
    position : fixed;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }


.enableFeatures{
    margin-left: 91%;
    margin-top: 14vh;
    position: fixed;
    height: 50vh;
    right: -7%;
    padding: 30px 0;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
    border-radius: 9px;
    transition: all 0.4s ease;
}
nav2.open .enableFeatures {
    right: 0%;
    }
nav2.dark .enableFeatures{
    background-color: #333;
    }         

.enableFeatures .lists{
    list-style: none;
    cursor: pointer;

}

/* notepad */
.note-box{
    margin-top: 6%;
    max-width: 1100px;
    width: 100%;      
}
.notebox h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}
/* edit */

.change{
    border-radius: 5px;
}
.editBs{
    border: 0;
    font-size: 18px;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ecd39c; 
    cursor: pointer; 

}
.edit{
    width: 40%;
    display: grid;
    grid-gap: 0.5%;
    margin-bottom: 0.6%;
}
.edit{
    display: flex;
}
#linkBtn{
    border: 0;
    font-size: 18px;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #9c9dec; 
    cursor: pointer; 
    
}
/* title-container  */
.title-container{
    width: 70%;
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    grid-gap: 15px 10px;
    margin-bottom: 0.6%;
}
.title-container input{
    border: 0;
    font-size: 18px;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}
.title-container.dark input{
    background-color: #333;
}
.title-container button,.delete{
    border: 0;
    font-size: 18px;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #709fc4; 
    cursor: pointer;   
}  

.title-container button:hover,.delete:hover{
    background-color: #4a88bb; 
    color:white;
    ;
}
.icon{
    margin-right: 14px;
    font-size: 20px;
    color: #656d70;    
}
#textarea{
    width: 68.2%;
    height: 35vh;
    margin-top: 0.9%;
    border: 0;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
}
#textarea.dark{
    background-color: #333;
    color: #ffffff9c;
}
#output{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 10px;
}
.list{
    background-color: #465d77;
    padding: 15px;
    border-radius: 10px;
    padding-left: 20px;
    position: relative;
}

.output-title{
    font-size: 25px;
    padding: 1px;
    
}
.text{
    font-size: 18px;
    padding: 1px;
    
}
.demo{
    margin-right: 60%;
}

.delete{
    position: relative;
    float: right;
    padding: 5px;
}
.fav{
    border: 0;
    float: right;
    margin-right: 2%;
    font-size: 21.5px;
    border-radius: 5px;
    position: relative;
    padding: 0px 2px 2px 2px;
    cursor: pointer;
    background-color: #fff;
   
}
.fav:hover{
    background-color: #e9fafdd0;
}
.fav.color{
    color:#99e0cb;
    background-color: #000000;
}
